name: CI - Format

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:
  workflow_call:

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4.1.6

      - name: Download asmfmt
        run: |
          wget -q https://github.com/klauspost/asmfmt/releases/download/v1.3.2/asmfmt-Linux_x86_64_1.3.2.tar.gz
          tar -xzf asmfmt-Linux_x86_64_1.3.2.tar.gz
          chmod +x asmfmt
          rm asmfmt-Linux_x86_64_1.3.2.tar.gz

      - name: Check formatting
        run: |
          ./asmfmt -d $(find . -name "*.asm" -o -name "*.s")
